PROJECT_CONTEXT.md

# Local Environment Config
application-local.yml
application-local.properties
application-loacal.yml

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
.vscode/
*.iml

# Java
*.class
*.log
*.jar
*.war
